<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
      <p><%=@post.title%></p>
      <%=@post.body%>
        <%if my_post?%>
          <p><%=link_to 'delete post', post_path(@post),method: :delete, class: 'btn btn-info'%></p>
        <% end -%>
      <%if comments_any?%>
      <h4><%=find_my_post_comments.count%>comments</h4>
        <%find_my_post_comments.each do |comment| %>
          <strong><p><%=comment.description%></p></strong>
          <%if comment.user == current_user%>
            <%=link_to 'delete comment', post_comment_path(@post, comment), method: :delete%>
          <% end %>
        <% end -%>
      <% end -%>
      <% if user_signed_in?%>
        <%= render 'comments/form'%>
        <%=link_to like_post_path(@post), method: :put, class: 'btn btn-default btn-sm' do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          like <%=@post.get_upvotes.size%></td>
        <% end %>
        <%=link_to dislike_post_path(@post), method: :put, class: 'btn btn-default btn-sm' do %>
          <span class="glyphicon glyphicon-chevron-down"></span>
          dislike <%=@post.get_downvotes.size%></td>
        <% end %>
      <% end -%>
      <%=link_to 'back', posts_path, class: 'btn btn-info'%>
    </div>
  </div>
</div>
</div>
