<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row font_family">
      <div class="col-md-12">
        <%=render 'posts/navbar'%>
      </div>
    </div>
    <div class="row font_family">
      <div class="col-md-4">
        <%=render 'posts/sidebar'%>
      </div>
      <div class="col-md-6">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info") %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
